$base_color:#444444;
$button-gradient: 'bevel';
$toolbar-gradient: 'glossy';
$tabs-light: #555;
$active-color: #AA0000;

 
@import 'sencha-touch/default/all';
@include pictos-iconmask('close_overlay');
@include pictos-iconmask('play1');
@include pictos-iconmask('pause');
@include pictos-iconmask('expand');
@include pictos-iconmask('closebutton50');
@include pictos-iconmask('clsbtn50');
@include pictos-iconmask('shuffle');
@include pictos-iconmask('help');
@include pictos-iconmask('list');
@include sencha-toolbar-ui('darker_blue', #003F69, 'glossy');
@include sencha-toolbar-ui('lighter_blue', #00538F, 'glossy');
@include sencha-button-ui('blue', #003F69, 'glossy');
@include sencha-button-ui('red', #C40000, 'glossy');
@include sencha-toolbar-ui('charcoal', #111111,'glossy');


// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
//@include sencha-form;
//@include sencha-msgbox;


//x-list-item {
	// needs latest Compass, add '@import "compass"' to your scss
	//@include filter-gradient(#000, #a60000, horizontal); // IE6-9
	//@include background-image(linear-gradient(left, rgba(0,0,0,0) 0%,rgba(132,2,2,0.77) 76%,rgba(5,0,0,1) 99%,rgba(0,0,0,0.65) 100%));
//}

.x-list {

}

.x-button-back {
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: rgb(109,179,242); // Old browsers
	@include filter-gradient(#6db3f2, #1e69de, vertical); // IE6-9
	@include background-image(linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%));
}

#overlay {

}